:root {
  --size: 3.5rem;
  --color1: #713db0;
  
  --color2: #00f2ad;
  --color3: #008b64;
  --color4: #8cfbda;
}

body {
  background-color: var(--color1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100vh;
  font-family: 'Righteous', cursive;
  overflow: hidden;
  transition: 500ms;
}

#game-container {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  flex-direction: column;
  text-shadow: 0 0 1rem rgba(0, 0, 0, .6);
  padding: 0 5rem;
  border: 3px solid black;
  border-radius: 8px;
  box-shadow: 0 0 2rem rgba(0, 0, 0, .6);
  transition: 500ms;
}

#header {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
  flex-direction: column;
  user-select: none;
}

#title {
  display: flex;
  font-size: 4rem;
  
}

#restart {
  margin-top: 2em;
  font-size: 3rem;
  user-select: none;
  transition: 300ms;
}

.grid {
  display: flex;
  flex-direction: row;
  transform: rotate(45deg);
}

.grid-row {
  color: white;
  justify-content:space-between;
}

.grid-cell {
  width: var(--size);
  height: var(--size);
  background-color: white;
  transition: 300ms;
  margin: 1rem .5rem;
  border-radius: 8px;
  z-index: 9999;
}


/* Helpers */
.hidden-style {
  background-color: var(--color2) !important;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, .6);
}

.disable-input {
  pointer-events: none;
}

.cell-down {
transform: scale(.9);
box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.7);
z-index: 9999;

}

/* Hover Effects */

.grid-cell:hover {
  /* transform: rotate(45deg); */
  transform: scale(.9);
}

#restart:hover {
  transform: scale(.9);
  color: var(--color2);
}